    <p>Nombre del empleado: {{ nombre }}</p>
    <p>Apellido del empleado: {{ apellido }} </p>
    <p>Edad del empleado: {{edad<18 ? "Menor de edad":"Mayor de edad"}}</p>
    <p>Empresa del empleado: {{empresa}} </p>
    
    <!--Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro"> -->

    <p>introduce la empresa: </p><input type="text" [(ngModel)]="empresa">

    <br/>
    <br/>
    <br/>
    {{textoRegistro}}<br/><br/>
    Registrado: <input type="radio" value="si" name="nRegistro" id="registro" [checked]="URegistrado" (click)="setusuarioregistrado($event)"><br/>
    No registrado: <input type="radio" value="no" name="nRegistro" (click)="setusuarioregistrado($event)">
        {{getRegistroUsuario()}}
